body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    justify-content: space-around;
    padding: auto;
    margin: auto;
    background-color: rgb(242, 247, 247);
}
h1{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: aqua;
    color: red;
    border-radius: 20px;
    align-content: center;
}
.list{
    display: flex;
    align-items:center;
    justify-content:space-around;
    align-content: center;
    list-style: none;
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    box-sizing: border-box;
    border-radius: 20px;
    flex-wrap: wrap;
}

img{
    width: 200px;
    height: 300px;
    padding: 10px 20px 10px 10px;
}

.position{
    display: flex;
    margin:10px;
    box-sizing: border-box;
    justify-content:left;
    flex-direction:row;
    padding-right: 20px;
} 

h2{
    text-align: center;
    font-weight: bold;
}

audio{
    height: 50px;
    color: red;
}

hr{
    border: 2px solid lightsalmon;

}



