.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(163, 221, 176);
    height: 50px;
    width: 100%;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
    margin: 0%;
    outline: 0cm;
    list-style: none;
}

.list {
    display: flex;
    justify-content: space-between;
    background-color: rgb(163, 221, 176);
    height: 50px;
    width: 100%;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
    margin: 0%;
    outline: 0cm;
    list-style: none;
}

.navbar ul li:hover{
    height: auto;
    width: auto;
    cursor: pointer;
    border-radius: 20px;
    background-color: lightgoldenrodyellow;
}
.list li img{
    height: 35px;
    width: 35px;
}

.posters li img{
    width: 300px;
    height: 400px;
    border-radius: 20px;
}

.posters {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
}

.images>h3{
    text-align: center;
    background-color: orange;
    width: 100%;
    height: 30px;
    align-content: center;
}

input[type="button"]{
    border-radius: 20px;
    background-color: lightwhite;
}

hr{
    border: 2px solid black;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

footer{
    background-color:grey;
    text-align: center;
    font-weight: lighter;
}
input[type="button"]:hover{
    background-color: black;
    color: white;
}
li p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.poster{
    display: flex;
    justify-content:left;
    list-style: none;
    padding: 10px;
}
.poster li img{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    justify-items: auto;
    padding: 10px;
}
input[value="Watch trailer"]{
    background-color: aqua;
    border-radius: 20px;
    color: red;
    font-weight: bold;
}